.navbar {
  height: 70px;
  background-color: rgba(206, 202, 138, 0.698);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.alert{
  left: '0';
  position: 'relative';
  top: 0;
  width: '100%';
}

.navbarBlueBar {
  height: 2pt;
  background-color:#2a2a57;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.listItem {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.inputText{
  border-radius: 6px;
  height:auto;
  width:auto;
}

.formSignIn{
  margin-bottom: 50px;
}

.btnSignIn{
  margin: auto;
  color:#2a2a57;
  border-radius:4px;
}

.entirePage {
  height: 1100px;
  width: 100%;
}

.linkSignIn{
  color:#2a2a57;
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px;
}

.home {
  height: 100%;
  display: flex;
  background-image: url('./img/universitaPhoto.jpeg');
  justify-content: space-between;
  flex-wrap: wrap;
}

.central-section {
  height: 100%;
  width: 100%;
}

.central-top-section {
  height: 100%;
  width: 100%;
}

.homepage_searchbar_container {
  position: relative;
  padding: 5px;
  top: 0px;
  padding-top: 50pt;
  margin: auto;
  width: 40%;
}

.homepage_searchbar {
  width:100%;
  height:48px;
  margin: auto;
  appearance:none;
  background-color: #ffffffa6;
  border:0;
  padding: .375rem .75rem;
  outline:none;
  border-radius:4px
}

.bookmarks_container {
  width:100%;
  height:170pt;
  text-align: right;
}

.bookmark {
  font-weight: bold;
  color:#2a2a57;
  border-radius: 6px 0px 0px 40px;
  background-color:rgba(206, 202, 138, 0.836);
  height:50pt;
  width:170pt;
}

.docUpload-page{
  margin: auto;
  background-image: url('./img/universitaPhoto.jpeg');
  width: 100%;
  height: 100%;
}

.docUpload-page .form-container{
  position: relative;
  margin: auto;
  width: 50%;
  border: 3px solid #2a2a57;
  padding: 10px;
  box-shadow: 3px 3px 3px 3px rgba(51, 51, 51, 0.263);
  border-radius: 25px;
}

.docUpload-page .form-container .form-blurred_path{
  filter: blur(5px);
  background-color: red !important;
  width: 100%;
  height: 100%;
}

.docUpload-page .form-container .form-content{

}

.un1_button{

}

.card {
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 20px 0px;
}

.desc {
  color: #333;
  margin-bottom: 20px;
  line-height: 25px;
}

.cardButton {
  border: none;
  border-radius: 10px;
  background-color: rgba(53, 16, 102, 0.678);
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.postDesc {
  padding: 0 100px;
  font-size: 24px;
  font-weight: 300;
  color: gray;
  margin-top: 50px;
}

.postLongDesc {
  padding: 100px;
  padding-top: 50px;
  font-size: 18px;
  line-height: 24px;
}

.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-menu {
  margin-left: 20px;
  min-height: 32px;
  min-width: 60px;
  position: relative;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.hamburger-menu span {
  width: 100%;
  height: 8px;
  background-color: #2a2a57;
  display: block;
  border-radius: 3px;
  position: absolute;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
}

.hamburger-menu span:nth-of-type(1) {
  top: 0;
  z-index: 50;
  animation: bar-1-reverse 
             0.6s 
             cubic-bezier(0.67, 0.01, 1, 0.72) 
             forwards;
}

.hamburger-menu span:nth-of-type(2) {
  top: calc(50% - 4px);
  z-index: 0;
  animation: bar-2-reverse 
             0.6s ease-in-out 
             forwards;
}

.hamburger-menu span:nth-of-type(3) {
  bottom: 0%;
  z-index: 100;
  animation: bar-3-reverse 
             0.6s 
             cubic-bezier(0.67, 0.01, 1, 0.72) 
             forwards;
}

.hamburger-menu.active span:nth-of-type(1) {
  animation: bar-1 
             0.6s 
             cubic-bezier(0.34, 0.54, 0.57, 1) 
             forwards;
}

.hamburger-menu.active span:nth-of-type(2) {
  animation: bar-2 
             0.6s 
             ease-in-out forwards;
}

.hamburger-menu.active span:nth-of-type(3) {
  animation: bar-3 
             0.6s 
             cubic-bezier(0.34, 0.54, 0.57, 1) 
             forwards;
}


/* ANIMAZIONI */
@keyframes load {
  0% {
      filter: opacity(0);
      background-color: white;
  }  
  50% {
      filter: opacity(0);
      background-color: white;
  } 
  100% {
      filter: opacity(1);
      background-color: #ffffff;
  }
}

/*ANIMAZIONI HAMBURGER_MENU*/
@keyframes bar-1 {
  0% {
      transform: rotate(0deg);
      top: 0;
  }
  50% {
      transform: rotate(0deg);
      top: calc(50% - 4px);
  }
  100% {
      transform: rotate(45deg);
      top: calc(50% - 4px);
  }
}

@keyframes bar-2 {
  0% {
      transform: scale(1);
      filter: opacity(1);
  }
  50% {
      transform: scale(0);
      filter: opacity(0);
  }
  100% {
      transform: scale(0);
      filter: opacity(0);
  }
}

@keyframes bar-3 {
  0% {
      transform: rotate(0deg);
      bottom: 0;
  }
  50% {
      transform: rotate(0deg);
      bottom: calc(50% - 4px);
  }
  100% {
      transform: rotate(135deg);
      bottom: calc(50% - 4px);
  }
}


/* ANIMAZIONI HAMBURGER_MENU - REVERSE */
@keyframes bar-1-reverse {
  0% {
      transform: rotate(45deg);
      top: calc(50% - 4px);
  }
  50% {
      transform: rotate(0deg);
      top: calc(50% - 4px);
  }
  100% {
      transform: rotate(0deg);
      top: 0;
  }
}

@keyframes bar-2-reverse {
  0% {
      transform: scale(0);
      filter: opacity(0);
  }
  50% {
      transform: scale(0);
      filter: opacity(0);
  }
  100% {
      transform: scale(1);
      filter: opacity(1);
  }
}

@keyframes bar-3-reverse {
  0% {
      transform: rotate(135deg);
      bottom: calc(50% - 4px);
  }
  50% {
      transform: rotate(0deg);
      bottom: calc(50% - 4px);
  }
  100% {
      transform: rotate(0deg);
      bottom: 0;
  }
}

/*ANIMATION MENU OPENING*/

.wrapper {
  width: 60%;
  height: 75%;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  display: flex;
  align-items: center;
  border-radius: 20px;
}


.left,.right{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textSignUpOver{
  font-size:small;
}

.formSignUp{
  margin-left: 20px;
}

.btnSignUp{
  border-radius: 4px;
}

.center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.or{
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: gray;
  background-color: white;
  font-weight: bold;
}

.line{
  width: 0.5px;
  height: 70%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.loginButton{
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.google{
  background-color: #df4930;
}
.facebook{
  background-color: #507cc0;
}
.github{
  background-color: black;
}

.icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

input{
  width: 200px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.submit{
  width: 200px;
  background-color: rgba(128, 0, 128, 0.671);
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}

.loginTitle{
  position: absolute;
  top: 150px;
  color:#2a2a57;
}

.link{
  color: inherit;
  text-decoration: none;
}

@media screen /*and (max-width: 992px)*/ {
  .card {
    width: 100%;
    margin-bottom: 50px;
  }

  .wrapper {
    width: 65%;
    height: 90%;
    flex-direction: column;
  }

  .loginTitle {
    display: none;
  }

  .center {
    width: 100%;
    position: relative;
  }

  .left {
    padding: 20px;
    margin-top:30px;
  }

  .right {
    padding: 20px;
  }

  .line {
    height: 0.5px;
    width: 300px;
  }
  .footer {
    background-color: rgba(206, 202, 138, 0.698);
    /*position: absolute; */
  
    display: flex;
    flex-direction: column;
    font-weight: bold;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
  }
  
  .footer-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer-social-media__icon {
    margin: 0px 4px;
    width: 25px;
    height: 25px;
  }
  
  .footer-info  {
    display: flex;
    justify-content: center;
  }
  
  .footer-info-left, .footer-info-center, .footer-info-right {
    font-size: x-small;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 30%;
  }
  
  .footer-info__name, .footer-info__email, .footer-info__number {
    margin-bottom: 10px;
  }
  
  .footer-info__name, .footer-info__termsConditions {
    text-align: left;
  }
  
  .footer-info__email, .footer-info__terms {
    text-align: center;
  }
  
  .footer-info__number, .footer-info__contact {
    text-align: end;
  }
  
  .footer-date {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footer-seperator {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: black;
    width: 100%;
  }
  
  .footer-name {
    display: flex;
    justify-content: center;
  }
  
  .footer-bottom__name {
    text-transform: uppercase;
    font-family: RobotoBold;
    font-size: large;
    margin: 0px 20px;
  }

  .card-name {
    width: 8%;
    margin: 0 7px;
  }

  .paypal_footer {
    margin: 5px 5px;
    width: 75px;
    height: 35px;
  }
}